/* line 1, ../_sass/_base.scss */
h1, h3, h4, h5, h6, p, li, div, a {
  font-family: "Fira Sans", sans-serif; }

/* line 5, ../_sass/_base.scss */
body {
  background: white;
  width: 100%; }

/* line 10, ../_sass/_base.scss */
h2 {
  color: #23527c;
  font-family: "Montserrat", sans-serif;
  font-size: 3em; }

/* line 16, ../_sass/_base.scss */
hr {
  margin: 1.5% 0 1.5% 0; }

/* line 20, ../_sass/_base.scss */
.container {
  padding-left: 15%;
  padding-right: 15%;
  padding-bottom: 0; }

/* line 28, ../_sass/_base.scss */
#header h1 {
  color: #23527c;
  font-family: "Montserrat", sans-serif;
  font-size: 6em;
  text-align: center; }
/* line 35, ../_sass/_base.scss */
#header .list-inline {
  text-align: center;
  padding: 3%; }

/* line 42, ../_sass/_base.scss */
#profile-img {
  width: 79px;
  height: 120px;
  margin: 0 auto;
  border-radius: 50%;
  border: 1px solid black;
  box-shadow: 0 0 1em black; }

/* line 52, ../_sass/_base.scss */
#introduction span {
  color: #EB5240; }
/* line 56, ../_sass/_base.scss */
#introduction p {
  font-size: 1.10em; }
/* line 60, ../_sass/_base.scss */
#introduction a {
  color: #EB5240;
  opacity: 0.65; }
/* line 65, ../_sass/_base.scss */
#introduction a:hover {
  color: #23527c; }

/* line 71, ../_sass/_base.scss */
#experience {
  margin-top: 4%; }
  /* line 73, ../_sass/_base.scss */
  #experience ul {
    padding-left: 0; }
    /* line 76, ../_sass/_base.scss */
    #experience ul li {
      list-style: none;
      margin: 4% 0 4% 0; }
      /* line 80, ../_sass/_base.scss */
      #experience ul li p {
        padding-top: 10px; }
  /* line 86, ../_sass/_base.scss */
  #experience h3 {
    margin-bottom: 1%; }
  /* line 90, ../_sass/_base.scss */
  #experience a {
    color: #EB5240;
    opacity: 0.65; }
  /* line 95, ../_sass/_base.scss */
  #experience a:hover {
    color: #23527c; }

/* line 100, ../_sass/_base.scss */
#projects {
  margin-top: 3%; }

/* line 104, ../_sass/_base.scss */
#footer {
  padding-top: 1%; }
