<div class="footer">
    <div class="contact">
        <p>
        Benjamin Fradet</br>
        Data engineer</br>
        &#98;&#101;&#110;&#106;&#97;&#109;&#105;&#110;&#46;&#102;&#114;&#97;&#100;&#101;&#116;&#64;&#103;&#109;&#97;&#105;&#108;&#46;&#99;&#111;&#109;
        </p>
    </div>
    <div class="contact">
        <a href="https://github.com/BenFradet">
            <span class="fa fa-github-alt fa-3x"></span>
        </a>
        <a href="https://twitter.com/StopOFlop">
            <span class="fa fa-twitter fa-3x"></span>
        </a>
        <a href="https://www.linkedin.com/in/benfradet">
            <span class="fa fa-linkedin fa-3x"></span>
        </a>
    </div>
</div>
