$color-grey :       #777;
$color-white :      #FFFFFF;
$color-blue :       #23527c;
$color-light-blue : #90B6CB;
$color-orange-red : #EB5240;


$font-fira : 'Fira Sans', sans-serif;
$font-mont : 'Montserrat', sans-serif