<!doctype html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <title>{% if page.title != '' %}{{page.title}} | {{site.author}}
        {% else %}{{site.author}}{% endif %}</title>
    <meta name="author" content="Chandan Saha"/>
    <meta name="keywords" content="programming, coding"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Sans:400,700" />

    <!--[if lte IE 7]><script src="vendor/elegant_font/lte-ie7.js"></script><![endif]-->

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-WKRGZV');</script>
    <!-- End Google Tag Manager -->

    <!-- Optimizely -->
    <script src="https://cdn.optimizely.com/js/1758790105.js"></script>

    <!-- GrowSumo -->
    <script type='text/javascript'>(function(){var gs=document.createElement('script');gs.src='https://snippet.growsumo.com/growsumo.min.js';gs.type='text/javascript';gs.async ='true';gs.onload=gs.onreadystatechange=function(){var rs=this.readyState;if(rs&&rs!='complete'&&rs!='loaded')return;try{growsumo._initialize('pk_e69a196c6c0f4a2e92bf970f7a4a3dae');}catch(e){}};var s=document.getElementsByTagName('script')[0];s.parentNode.insertBefore(gs,s);})();</script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="./files/font-awesome.min.css" />
    <link rel="stylesheet" href="./files/style.css" />
    <link rel="stylesheet" href="./files/jquery.bxslider.css" />

    <script src="./files/jquery.bxslider.min.js"></script>

    <script src="./files/card-carousel.js"></script>
    <script src="./files/app.js"></script>

    <link href="./files/main.css" rel="stylesheet" />



    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
         (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
           m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
             })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-50831669-1', 'chandansaha2014.github.io');
      ga('send', 'pageview');
    </script>
</head>
<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WKRGZV"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<header class="header header_landing-page">
    <nav class="navbar">
        <div class="navbar-header">
            <button id="mobile-menu-open" type="button" class="navbar-toggle collapsed">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <div class="navigation-navbar">
            <ul class="navigation-bar navigation-bar-right">
                <li>
                    <a href="javascript:void(0);" onclick="scrollToElement(&#39;#pricing-table&#39;)">About</a>
                </li>
                <li>
                    <a href="javascript:void(0);" onclick="scrollToElement(&#39;#pricing-table&#39;)">Blog</a>
                </li>


            </ul>
        </div>

    </nav>

    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-md-6 col-lg-5">
                <!--<img class="logo" alt="Chandan Logo" src="./images/cslogo.png" style="width:134px;height:24px;/>-->
                <h1>Chandan Saha</h1>
                <p>Data Science Enthusiast , Wanderer</p>

                <a class="button button_large button_fixed button_solid-green text-center" href="https://github.com/chandansaha2014">
                    Github
                </a>
                <a class="button button_large button_fixed button_solid-green text-center" href="https://linkedin.com/in/chandansaha2">
                    LinkedIn
                </a>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">


                <!--<div class="sponsors-block">-->
                <!--<div class="sponsors-block__sponsor">-->
                <!--<img alt="Intel logo" src="./images/intel.png" />-->
                <!--</div>-->

                <!--</div>-->

            </div>
        </div>

        <div class="row hidden-xs">
            <div class="col-sm-12">
                <div class="header_landing-page__arrow" data-icon="3"></div>
            </div>
        </div>
    </div>
</header>

<section class="section section_join">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h2>I am a master's student studying data science at  <a href="http://rutgers.edu/"> Rutgers University</a> , The State University of New Jersey. I live in New Jersey</h2>
            </div>
        </div>
    </div>
</section>
<section class="section section_grey section_success-stories">
  <div class="container">
    <ul class="bxslider">
    <li>
      <div class="row">
        <div class="left col-sm-6 col-lg-5">
          <div class="user">
            <div class="user-photo">
              <img class="raised-image" src="//images.contentful.com/ii3k8n6p1keg/4oltv9PkwMMaOy248EoKGw/2de0d27539ded8e9fafae9520c784548/83256986.jpeg?fit=thumb&w=400&h=400&fm=jpg" alt="Success story user Shannon" />
            </div>

            <div class="meet-user">
              <h3 class="hidden-xs">Tanışma Shannon</h3>
              <h5 class="visible-xs">Tanışma Shannon</h5>
            </div>
          </div>

            <div class="user-cv-image">
              <img class="cv-image" src="//images.contentful.com/ii3k8n6p1keg/2ePgt39RROa4WOMCMIEOCa/dc050b64721cd67c2300b305107c7411/Screen_Shot_2016-09-28_at_2.08.37_PM.png?fit=thumb&f=top&w=760&h=1000&fm=jpg&q=80" alt="Success story CV Shannon" />
            </div>
        </div>

        <div class="right col-sm-6 col-lg-offset-1">
          <div class="hidden-xs quotes">
            <img alt="" src="/site-assets/img/quotes01.svg" />
          </div>

          <div class="visible-xs quotes" style="margin-top:40px">
            <img alt="" src="/site-assets/img/quotes01.svg" />
          </div>

          <div class="line"></div>
          <p>Hedefli bir kapak mektubu gönderdim ve devam ettim, ayrıca VisualCV'ye bir bağlantı. Cilalı ve profesyonel bir tanıtım sunmak, doğramaları desteklemek kadar önemlidir.</p>
          <div class="line"></div>

          <div class="quotes pad-2">
            <img alt="" src="/site-assets/img/quotes02.svg" />
          </div>

          <div class="text-center">
            <a class="button button_solid-blue button_fixed" href="/app/#/welcome/signup?locale=tr">
              Şimdi dene
            </a>
          </div>

          <div class="see-more">
            <a href="/tr/success-stories">
              Daha fazla hikayeleri bakın
            </a>
          </div>
        </div>
      </div>
    </li>
    <li>
      <div class="row">
        <div class="left col-sm-6 col-lg-5">
          <div class="user">
            <div class="user-photo">
              <img class="raised-image" src="//images.contentful.com/ii3k8n6p1keg/3NFURV8tHqi2eEwAkCwCoE/055783636bdbc78d7844e6393f03067c/57368822.png?fit=thumb&w=400&h=400&fm=jpg" alt="Success story user Casie" />
            </div>

            <div class="meet-user">
              <h3 class="hidden-xs">Tanışma Casie</h3>
              <h5 class="visible-xs">Tanışma Casie</h5>
            </div>
          </div>

            <div class="user-cv-image">
              <img class="cv-image" src="//images.contentful.com/ii3k8n6p1keg/S7KzXlZcw6QeoEYys64Uu/6bda9ee7997f074628d9026e0f7766e7/Screen_Shot_2016-09-28_at_1.35.59_PM.png?fit=thumb&f=top&w=760&h=1000&fm=jpg&q=80" alt="Success story CV Casie" />
            </div>
        </div>

        <div class="right col-sm-6 col-lg-offset-1">
          <div class="hidden-xs quotes">
            <img alt="" src="/site-assets/img/quotes01.svg" />
          </div>

          <div class="visible-xs quotes" style="margin-top:40px">
            <img alt="" src="/site-assets/img/quotes01.svg" />
          </div>

          <div class="line"></div>
          <p>Geleneksel özgeçmişlerin çoğunda dikkat çekmenin ne kadar basit olduğunu şok ediyordum - görüntüleme ve indirme sayısı şaşırtıcıydı!</p>
          <div class="line"></div>

          <div class="quotes pad-2">
            <img alt="" src="/site-assets/img/quotes02.svg" />
          </div>

          <div class="text-center">
            <a class="button button_solid-blue button_fixed" href="/app/#/welcome/signup?locale=tr">
              Şimdi dene
            </a>
          </div>

          <div class="see-more">
            <a href="/tr/success-stories">
              Daha fazla hikayeleri bakın
            </a>
          </div>
        </div>
      </div>
    </li>
    <li>
      <div class="row">
        <div class="left col-sm-6 col-lg-5">
          <div class="user">
            <div class="user-photo">
              <img class="raised-image" src="//images.contentful.com/ii3k8n6p1keg/6zvsYwnMnmqMaoOeMiOCma/c2047cf5ebc27b0469978af6c0fad2db/jezza1.jpg?fit=thumb&w=400&h=400&fm=jpg" alt="Success story user Jezza" />
            </div>

            <div class="meet-user">
              <h3 class="hidden-xs">Tanışma Jezza</h3>
              <h5 class="visible-xs">Tanışma Jezza</h5>
            </div>
          </div>

            <div class="user-cv-image">
              <img class="cv-image" src="//images.contentful.com/ii3k8n6p1keg/2YyZDJFiPY8OAkm44o8IyM/39719f190cd26f2f6861ee89409f4567/Screen_Shot_2017-01-17_at_12.57.59_PM.png?fit=thumb&f=top&w=760&h=1000&fm=jpg&q=80" alt="Success story CV Jezza" />
            </div>
        </div>

        <div class="right col-sm-6 col-lg-offset-1">
          <div class="hidden-xs quotes">
            <img alt="" src="/site-assets/img/quotes01.svg" />
          </div>

          <div class="visible-xs quotes" style="margin-top:40px">
            <img alt="" src="/site-assets/img/quotes01.svg" />
          </div>

          <div class="line"></div>
          <p>Görsel Özgeçmiş özgeçmişim, kazıktaki geri kalanından ayırt etmek için fazladan bir şey verdi. Şık görünümlü şablonları kullanarak hızlı bir şekilde yeni bir biçim oluşturma olanağı, bu ürünü neden kullandığım.</p>
          <div class="line"></div>

          <div class="quotes pad-2">
            <img alt="" src="/site-assets/img/quotes02.svg" />
          </div>

          <div class="text-center">
            <a class="button button_solid-blue button_fixed" href="/app/#/welcome/signup?locale=tr">
              Şimdi dene
            </a>
          </div>

          <div class="see-more">
            <a href="/tr/success-stories">
              Daha fazla hikayeleri bakın
            </a>
          </div>
        </div>
      </div>
    </li>
</ul>

  </div>
</section>
{{content}}


<footer>
    <div class="section-1">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="flex-box">
                        <div class="flex-item">
                            <img alt="" src="/site-assets/img/visualcv_logo_footer_placeholder.svg" />
                        </div>
                        <div class="flex-item">
                            <div class="social">
                                <a href="https://www.facebook.com/chandan.saha31"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                <a href="https://twitter.com/chandan_31_saha"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                <a href="https://plus.google.com/u/0/107358373140050458135"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="footer-nav">
                        <div class="flex-item">
                            <ul>
                                <li><strong>Popular links</strong></li>
                            </ul>
                        </div>
                        <div class="flex-item">
                            <ul>
                                <li><strong>Top resources</strong></li>
                                <li><a href="/tr/blog/">About</a></li>
                                <li><a href="/resume">Resume</a></li>
                                <li><a href="/post">Blogs</a></li>
                                <li><a href="/Chandan Saha Data Science.pdf">PDF Resume</a></li>

                            </ul>
                        </div>

                        <div class="flex-item">
                            <ul>
                                <li><strong>Everything else</strong></li>
                                <li>&nbsp;</li>
                                <li>&copy; Chandan Saha 2017</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</footer>

<!--<script src="./files/jquery.min.js"></script>-->
<!--<script>if (!window.jQuery) { document.write('<script src="/js/jquery-1.9.1.min.js"><\/script>') }</script>-->
<!--<script src="./files/landing.js"></script>-->

</body>
</html>
