---
layout: blog_main
---
<div class="container">
    <header>
        <h1><a href="/">{{site.title}}</a></h1>
    </header>
    <div id="excerpts">
        {{content}}
    </div>

  <div id="about">
        <p>I'm a data scientist intern at <a href="https://cait.rutgers.edu/">CAIT</a>. I love snowboarding, Scala, and machine learning. I live in New Jersey, USA.</p><br>
        <p>Here is my resume in <a href="/resume">HTML</a> and as a <a href="/Chandan Saha Data Scientist.pdf">PDF</a>.</p><br>
        <div id="icon-h">
            <div><a href="https://github.com/chadansaha2014" class="fa fa-github-alt fa-3x"></a></div>
            <div><a href="https://twitter.com/chandan_31_saha" class="fa fa-twitter fa-3x"></a></div>
            <div><a href="https://www.linkedin.com/in/chandansaha2" class="fa fa-linkedin fa-3x"></a></div>
        </div>
    </div>
</div>
