---
layout: default
---
<div class="container">
    <header>
        <h1><a href="/">{{site.title}}</a></h1>
    </header>
    <div id="excerpts">
        {{content}}
    </div>

    <div id="about">
        <p>I am a master's student studying data science at  <a href="http://rutgers.edu/"> Rutgers University</a> , The State University of New Jersey. I live in New Jersey </p><br>
        <p>Here is my resume in <a href="/resume">HTML</a> and as a <a href="/Chandan Saha Data Science.pdf">PDF</a>.</p><br>
        <div id="icon-h">
            <div><a href="https://github.com/chandansaha2014" class="fa fa-github-alt fa-3x"></a></div>
            <div><a href="https://twitter.com/chandan_31_saha" class="fa fa-twitter fa-3x"></a></div>
            <div><a href="https://linkedin.com/in/chandansaha2" class="fa fa-linkedin fa-3x"></a></div>
        </div>
    </div>
</div>
