---
layout: default
---
<div class="container">
    <header>
        <h1><a href="/">{{site.title}}</a></h1>
    </header>
    <div id="excerpts">
        {{content}}
    </div>

    <div id="about">
        <p>I'm a data engineer working with Apache Spark. I love skiing, snowboarding and machine learning. I live in Paris, France.</p><br>
        <p>Here is my resume in <a href="/resume">HTML</a> and as a <a href="/BenFradet.pdf">PDF</a>.</p><br>
        <div id="icon-h">
            <div><a href="https://github.com/BenFradet" class="fa fa-github-alt fa-3x"></a></div>
            <div><a href="https://twitter.com/fradetben" class="fa fa-twitter fa-3x"></a></div>
            <div><a href="https://www.linkedin.com/in/benfradet" class="fa fa-linkedin fa-3x"></a></div>
        </div>
    </div>
</div>
