---
layout: default
---
<div class="container">
    <div id="header">
        <h1><a href="/">{{site.title}}</a></h1>
    </div>
    
    <div id="post">
        <h2>{{page.title}}</h2>
        <div class="meta">
            <span class="date">{{page.date | date: '%B %e, %Y'}}</span>
             - 
            <span class="tags">
                {% for category in page.categories %}
                    {{category}}{% unless forloop.last %}, {% endunless %}
                        {% endfor %}
            </span>
        </div>
        {{content}}
    </div>

    <div id="comments">
        {% include disqus.html %}
    </div>

    <div id="footer">
        <div id="contact">
            <p>
                Chandan Saha<br/>
                Data Scientist<br/>
                &#98;&#101;&#110;&#106;&#97;&#109;&#105;&#110;&#46;&#102;&#114;&#97;&#100;&#101;&#116;&#64;&#103;&#109;&#97;&#105;&#108;&#46;&#99;&#111;&#109;
            </p>
        </div>
        <div id="icon-v">
            <p>
                <a href="https://github.com/chandansaha2014" class="fa fa-github-alt fa-3x"></a>
                <a href="https://twitter.com/chandan_31_saha" class="fa fa-twitter fa-3x"></a>
                <a href="https://linkedin.com/in/chandansaha2" class="fa fa-linkedin fa-3x"></a>
            </p>
        </div>
    </div>
</div>
